* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif; 
}

body {
    background-color: black;
    color: white;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.banner, footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    height: 605px;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 64, 87, 0.64), rgba(0, 0, 0, 0.5)), url(../images/banner.png);
    background-size: cover;
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    padding: 15px;
    width: 510px;
    height: 393px;
    margin: auto;
}

.banner-content img {
    margin: 56px auto;
}

.banner-content h1 {
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    color: transparent;
}

.banner-content p {
    font-size: 20px;
}

.banner-content button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
    height: 300px;
    width: 298px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 32px;
    color: #33A8DB;
    font-weight: 700px;
}

p {
    color: white;
    text-align: center;
}

button {
    color: #31A8DD;
    display: flex;
    margin: 15px auto;
    border: 1px solid;
    background: transparent;
    align-items: center;
}

/* Course Content */
#course-content {
    width: 800px;
    text-align: center;
    letter-spacing: 3px;
    margin: auto;
}

#course-content h2 {
    text-transform: uppercase;
    color: #33A8DB;
    margin-top: 90px;
    margin-bottom: 25px;
}

#course-content p {
    text-align: center;
    height: auto; /* Remove a altura fixa se houver */
    margin-bottom: 25px; /* Espaçamento entre o texto e os módulos */
}

.modules-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}


.module {
    display: flex;
    justify-content: center;
    margin: 0 auto 24px;
    padding: 16px 127px 16px 127px;
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 57px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

.module span {
    color: #31A8DD;
}

#transform-world {
    height: 560px;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    background: url(../images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#transform-world p {
    position: absolute;
    top: 160%;
    left: 15%;
    transform: translateY(-50%);
    margin: 0;
    text-align: left;
    color: white;
    text-transform: lowercase;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Challenges */

#professional-challenges {
    height: 800px;
}

#professional-challenges h2 {
    max-width: 746px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    margin: 90px auto;
    padding-top: 15px;
}

#professional-challenges p {
    width: 792px;
    color: white; 
    font-size: 16px; 
    line-height: 1.8; 
    text-align: center;
    margin: 20px auto; 
}

#professional-challenges img {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Footer */

footer {
    padding: 60px 0;
    height: 170px;
    border-top: 1px solid #33A8DB;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}

footer .dio-logo {
    width: 310px;
    height: 44px;
    display: flex;
    justify-content: center;
    margin: auto;
}

footer p {
    font-style: normal;
    font-size: 20px;
    color: white;
}

footer p a {
    text-decoration: none;
}